body{
 	background-size: cover; background-attachment: fixed; background-color: rgb(27,30,38);
}
strong{
	color: white; font-weight: normal; 
}
p{
	color: #A4B5B8; text-align:left;  font-size: 2vw; line-height: 170%;
}
article{
	display: block; padding: 0% 15% 0% 15%; margin: 0;
}
h1,h3{
 	margin:0; padding: 0; 
}
h1{
	text-align: left; padding: 0% 10%; margin-bottom: 2%; font-size: 6vw; 
}
h3{
   font-size:6vw;  margin-bottom:5%; padding: 0; 
}
#initialpageimg{
	height: 100%;
}
#social{
	position:relative;left:-10%; margin-bottom:5%; display: table; z-index: 1;
}
#social a{
	margin-right: 10px;
}
#social img{
	height: 28px; width: 28px;
}
#social:hover img{
	opacity: 0.7;	
}
#social img:hover{
	opacity: 1;
}
#social hr{
	width: 100px; display: inline-block; margin-right: 25px;
}
#social div{
	margin: 0; padding: 0; vertical-align: middle; display: table-cell;
}
#bg-fixed-layered{
	position: fixed; background-color: rgba(27,30,38,0.8); width: 100%; height: 100%;
}
#initialpage{
	background-color: transparent;
}
#navigation{
	position: fixed; z-index: 3;
}
#internships h1{
	padding: 0;
}
#content #internships{
	margin: 0 auto;
	padding: 10% 15%;
}
.gradient{
	background-image: -o-linear-gradient(0deg,rgba(27,30,38,0),rgba(27,30,38,0.5) 20%, rgba(27,30,38,1) 40%);
	background-image: -moz-linear-gradient(0deg,rgba(27,30,38,0),rgba(27,30,38,0.5) 20%, rgba(27,30,38,1) 40%);
	background-image: -webkit-linear-gradient(90deg,rgba(27,30,38,0),rgba(27,30,38,0.5) 20%, rgba(27,30,38,1) 40%);
	background-image: linear-gradient(0deg,rgba(27,30,38,0),rgba(27,30,38,0.5) 20%, rgba(27,30,38,1) 40%);
}
#nav-cover{
	 height: 100%;
}	
#photos-img-wrapper a{
	font-family: 'Poiret One';
	border: 1px solid white;
	border-radius: 3px;
	background-color: transparent;
	font-size: 2.5vw;
	padding: 2% 4%;
	color: white;
}
#gallery-wrapper{
	position:absolute; width:100%; text-align:center; bottom: 50%;
}
#content-container{
	color: white; border:none; padding: 0%; 
}
#content{
	position: relative; padding: 5%; height: 100%; z-index: 1; 	padding-bottom: 0;
}
#content>div{
	margin: 0; padding: 10% 5% 15% 5%;
}
#photos-img-wrapper{
	position: relative;	
	width: 60%;
	margin: auto;
}
.proj-container-container:after{
	content: '';	
	background: transparent;
	height: 1px;
	width: 0%;
	display: block;
	transition: all 0.3s ease;
}
.proj-container-container{
	vertical-align:text-top; display: inline-block; margin: 1.5%; width: 30%; transition: all 0.5s ease; -webkit-transition: all 1s ease;
	opacity: 0; transform: translate(0%,40%);
}
.content-proj-container p{
	font-size:2vw;padding-bottom: 40px; margin-bottom:15px;text-align: left; text-transform: capitalize;
	border-bottom: 1px solid transparent; transition: all 0.5s ease; display: inline-block;
}
.content-proj-container p:after{
	content: ''; display: block; height: 1.5px; width: 20%; background: white; transition: all 0.3s ease; -webkit-transform: all 0.3s ease;
}
.content-proj-container:hover p:after,.proj-container-container:hover:after{
	cursor: pointer; width: 100%; background: white;
}
.content-proj-container li{
	font-size:1vw; line-height: 100%; margin: 0;	
}
.content-proj-container:hover li{
	color: #838b91;
}
.content-proj-container:hover p{
	color: white;
}
.content-proj-container{
	 display: inline-block; padding: 25% 17%; width: 66%; background-color: rgba(15,15,15,0.7);text-decoration: none; 
}
.content-proj-container span{
	width: 1.8vw; display: inline-block;
}
#photos-img-wrapper a{
	opacity: 0;
}
@media only screen and (max-width:  667px){
	body{
		background-image:none;
	}
}
@media only screen and (min-width: 1224px){
#gallery-wrapper{
	bottom:60%;
}
}
.drop{ /*used in js method*/
	visibility: visible; opacity: 1;
}
.gradientCntrl{
	-webkit-mask-image:none; height:100%;
}
