@font-face {
  font-family: 'Fjalla One';
  font-style: normal;
  font-weight: 400;
  src: local('Fjalla One'), local('FjallaOne-Regular'), url(fonts/rxxXUYj4oZ6Q5oDJFtEd6r3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(fonts/DK0eTGXiZjN6yA8zAEyM2Ud0sm1ffa_JvZxsF_BEwQk.woff2) format('woff2');
}
@font-face {
  font-family: 'Indie Flower';
  font-style: normal;
  font-weight: 400;
  src: local('Indie Flower'), local('IndieFlower'), url(fonts/10JVD_humAd5zP2yrFqw6qRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(fonts/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format('woff');
}
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(fonts/HrI4ZJpJ3Fh0wa5ofYMK8b3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}
html,body{
	height: 100%;
	width: 100%;	
	margin: 0px;
	padding: 0px;
}
button:focus, input[type="button"]:focus {
    outline: none;
}
h1{
	font-size: 6vw; letter-spacing: 0.1vw;
}
h1,h3{
	font-family: 'Poiret One'; text-align: center; color: white; font-weight: normal;
}
p,a{
	font-family:'Lato', sans-serif; margin: 0 auto; line-height: 145%; 
}
ul{
	list-style-type: none; margin: 0; padding: 0;
}
li{
	font-family:Roboto,Helvetica,Arial,sans-serif; color: white; margin: 5px; font-size: 1.2vw; text-transform: capitalize; letter-spacing: 0.2vw;
	font-weight: bold; display: inline-block; width: 100%; transition: all 0.5s ease;
}
hr{
	opacity: 0.2; width: 10%; 
}
a{
	color: rgb(184,164,171);
	cursor: pointer;
	transition: all 0.2s ease;
}
a:hover{
	color: rgb(150,121,131);
}
a:hover,a:active,a,a:visited{
	text-decoration: none;
}
#initialpage hr{
	width: 15%;
}
strong{
	color: white; font-weight: bold;
}
#navigation{
 	position: absolute; z-index: 1; width: 100%;
}
.gradient{
	height: 80px;
}
#container,#menubar{
	display: inline-block; float: right;
}
#navigation ul{
	display: inline-block;
	float: right; margin: 0;
	padding:25px 0px 0px 0px;
}
#navigation ul li{
	width: auto; margin: 10px 10px 10px 10px;
}
#navigation ul li a{
	display: inline-block; padding: 10px 20px 10px 20px; font-size: 12px; text-decoration: none;
	background:none; border:none; color: white; text-transform: uppercase; font-family:'Lato'; letter-spacing: 1px;
	font-weight: bold; transition: all 0.2s ease;
}
#navigation .navselect:hover{
	cursor: pointer; color:#838b91;
}
#menu-icon
{
	position:absolute; border: none; display: none; cursor: pointer; color: white;
}
#menu-icon{
	font-size: 30px;
}
#logo{
	display: inline-block; position: absolute; left: 40px; top:25px; z-index: 0;
}
#logo a{
	display: inline-block;
}
#initialpageimg{
	background-size: cover; width: 100%; height: 95%; position: relative;
}
#initialpage{/*for layered background*/
	position: relative; background-color: rgba(0,0,0,0.5); width: 100%; height: 100%; 
}
#initialpage-cover{ /*helps with the scrolling*/
	width: 100%; height: 100%; position: relative; z-index: -1;
}
#fulltextcontainer,#fulltextcontainer-top{/*helps with vertical align*/
	width: 100%; height: 100%; position: absolute; display: table; z-index: 0;
	left: 0; top: 0; margin: 0;
}
#fulltext,#fulltext-top{
	display: table-cell; vertical-align: middle; color: white; width:80%; padding-left: 10%; padding-right: 10%; text-align: center;
}
#fulltext h3,#fulltext-top h3{
	width: 100%; text-align: center; padding: 0px; margin: 0px; font-size:9vw; 
}
#fulltext-top h3{
	color: rgba(255,255,255,0.5); text-align: left;
}
#fulltextcontainer-top{
	height: 80%;
}
@media only screen and (max-device-width:667px) and (orientation:portrait){
	#container-before{
		display: none;
	}
	#container{
		left: 0; top:0;position: fixed; float: none; display: table;visibility: hidden;opacity: 0;
		background-color:rgba(21,24,28,0.95); width: 100%; height: 100%; z-index: 4;
	}
	#menubar{
		float: none; display: table-cell; vertical-align: middle; text-align: center; position: relative; z-index: 3;
	}
	#menubar ul li{
		text-align: center; border:none; float: none; margin:0; padding: 10%; display: block; transition: all 0.5s ease;
	}
	#menubar ul li a{
		font-size: 40px; display: inline;
	}
	#menubar ul{
		display: block; float: none; padding: 0;
	}
	#menubar li a:hover{
		cursor: pointer;
	}
	#menu-icon{
		display: inline-block; position: fixed; z-index: 10; right: 0; top: 0; padding: 20px;
	}
	#menu-icon img{
		height: 35px; width: 35px;
	}
	#menu-icon #exit{
		display: none;
	}
	#initialpageimg,#initialpage-cover{
		height: 33%;
	}
}
